footer{
    width: 100%;
    position: fixed;
    left:0;
    right:0;
    background-color: black;
    /* padding-left: 120px; */
    margin-top:20px;
    bottom:0;
}
footer a{
    margin: 30px;
    color: #6ffce9;
    text-transform: uppercase;
    font-size: 0.8em;
}
footer a:hover, footer a:focus{
    color:#f2d283;
}